# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

.\#*
*.*~
*~
hopper.lex.c
hopper.tab.c
hopper.tab.h
traducao.c
traducap.py
